%header
.contents
  = render '/layouts/side_bar'

  .mainContent
    .groupProfile
      .groupDetail
        %h1.groupDetail__name= @group.name
        %p.groupDetail__members= @group.users.map{|user| user.name}.join("、")
      .groupButton
        / %a.groupButton__edit{href: "/groups/#{@group.id}/edit"} Edit
        = link_to 'Edit', group_edit_path(@group), class: 'groupButton__edit'
    .groupChat
      .chatMain
        = render @messages
        / = render partial: 'message', collection: @messagesの省略
      .postBox
        = form_for [@group,@message] do |f| 
          = f.text_field :content, placeholder: 'tyep a message', class: 'postBox__text'
          .postBox__file
            = f.label :image do
              = f.file_field :image, style: 'display:none'
              = fa_icon 'picture-o', class: 'icon'
          = f.submit 'Send', class: 'postBox__button'
